<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link  href="../static/css/webuploader.css">
    <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/js/webuploader.min.js"></script>
    <script type="text/javascript" src="../static/js/fileupload.js"></script>
</head>
<body>
<h3>使用webuploader进行文件的上传</h3>
<div>
    <div id="uploader" class="wu-example">
        <!--待上传的文件列表，用来存放文件信息-->
        <div id="thelist" class="uploader-list"></div>
        <div class="btns">
            <div id="picker">选择文件</div>
            <button id="ctlBtn" class="btn btn-default">开始上传</button>
        </div>
    </div>
</div>
</body>
</html>